{% extends "layouts/base.njk" %}

{% block title %}Careers{% endblock %}

{% block masthead %}
	<section class="masthead">
		<div class="shell">
			<h1>Your next role starts here</h1>
			<p>Browse the roles we currently have open across our capabilities and locations.</p>

			<div class="masthead__actions">
				<a class="button button--solid" href="/jobs/job-roles">Browse open roles</a>
			</div>
		</div>
	</section>
{% endblock %}

